#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#dictator_component {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

#dictator_component div {
  padding: 10px;
  cursor: text;
}

#dictator_component div p, #dictator_component div span {
  -webkit-user-select: text;
  cursor: text;
}

#dictator, #editor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
  font-family: monospace;
  -webkit-user-select: text;
  cursor: text;
  white-space: normal;
}

#editor p {
  min-height: 1.6em;
  min-width: 1.6em;
}

#toolbar {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  height: 47px;
  min-height: 47px;
}

header.toolbar-header {
  display: flex;
}

.punc_button {
  margin-right: 5px;
}

#view-switcher {
  display: flex;
  justify-content: center;
  padding-top: 3px;
  height: 39px;
  flex-grow: 1;
}

#view-switcher button {
  width: 100px;
}

#language-chooser {
  margin-top: 7px;
  margin-bottom: 6px;
  margin-right: 10px;
  padding-left: 12px;
}

.btn-dropdown {
  width: 100px;
  text-align: left;
}

.btn-dropdown:after {
  content: none;
}

.right {
  float: right;
}

.btn .icon.right {
  float: right;
}

select:disabled {
  color: #ccc;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Source Sans Pro',system, -apple-system, '.SFNSDisplay-Regular', 'Helvetica Neue', Helvetica, 'Segoe UI', sans-serif;
}

pre, textarea {
  font-family: 'Soure Code Pro', monospace;
}

.toolbar {
  background-color: #F5F6F7;
  background-image: none;
}

.toolbar-header {
  border-color: #dbdfe3;
}

.btn-group .active {
  background-color: #5294E2;
}

.btn-default {
  background-color: #F5F6F7;
  background-image: none;
  border-color: #dbdfe3;
}

.btn {
  box-shadow: none;
  font-size: 14px;
}

.btn-default:active {
  background-color: #5294E2;
  color: #ffffff;
}

.btn-default:active .icon {
  color: #ffffff;
}

.btn-positive {
  border-color: #5ca812;
  background-color: #5ca812;
  background-image: none;
}

.btn-positive:active {
  border-color: #73d216;
  background-color: #73d216;
  background-image: none;
}

.btn-negative {
  border-color: #F04A50;
  background-color: #F04A50;
  background-image: none;
}

.btn-negative:active {
  border-color: #ec1b22;
  background-color: #ec1b22;
  background-image: none;
}

.error {
  text-decoration: underline;
  color: red;
  cursor: pointer !important;
}

.ignored {
  text-decoration: underline;
  color: green;
  cursor: pointer !important;
}